.episodes-list-container {
  background-color: var(--jeopardy-blue);
  max-width: 650px;
  margin: auto;
}

.episodes-list-container a {
  text-decoration: none;
}

.episode-data-container {
  background-color: var(--jeopardy-blue-light);
  font-family: "ITCKorinnaRegular";
  border: 4px solid var(--jeopardy-blue-dark);
  border-radius: 15px;
  margin: 10px;
}

.episode-title {
  font-family: "VIQuanTuHoa";
  font-size: 1.8em;
  margin: 10px;
  text-decoration: none;
}

.contestants {
  font-size: 0.9em;
}

.air-date {
  font-size: 0.7em;
}

.note {
  font-size: 0.7em;
}
